<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm a grad student at 
      <a class="underline-link" href="https://www.umass.edu/" target="_blank">University of Massachusetts Amherst</a>
      studying Computer Science with a concentration in Data Science. My academic interests tend to revolve around <strong>security,
       machine learning, computer vision, and distributed systems.</strong> I am studying Neural Networks, Computer Networks and Security and Methods of Applied Statistics in my first semester! 
      I am currently working on a project titled, "Mitigating bias in Facial Recognition using Seldonian Framework". 
      I've previously worked at
       <a class="underline-link" href="https://www.oracle.com/financial-services/"<strong>Oracle Financial Software Services</strong></a> 
       as an Associate Consultant,
       <a class="underline-link" href="https://www.phonepe.com/"<strong>PhonePe</strong></a> as a Site Reliability Engineer Intern for their ETC Team,  
      and <a class="underline-link" href="https://www.esri.com/en-us/home" target="_blank">Kohort</a>, as a Design Intern. 
       
      
    </p>

    <p>
      When I'm not in classes or working, I'm probably chilling with friends, singing, brushing up on a my Korean,
      or crossing off another item on my bucket list. I was the lead vocalist in my band back in India.
       You can check out my covers on <a class="underline-link" href="https://www.instagram.com/roshinisanikop/" target="_blank">Instagram</a>!
    </p>

  </div>
</section>
