<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I’m currently taking courses in Distributed and Operating Systems, Optimization in Computer Science, and Machine Learning, while working under Prof. Prashant Shenoy at the Laboratory for Advanced System Software on a carbon resource-aware computing project. In my first semester, I completed courses such as Neural Networks, Computer Networks and Security, and Methods of Applied Statistics, which helped strengthen my foundation in AI and systems. Building on this knowledge, I recently completed a project titled <em>“Mitigating Bias in Facial Recognition using the Seldonian Framework,”</em> where I explored fairness in machine learning models.


      I've previously worked at
       <a class="underline-link" href="https://www.oracle.com/financial-services/"<strong>Oracle Financial Software Services</strong></a> 
       as a DevOps Consultant,
       <a class="underline-link" href="https://www.phonepe.com/"<strong>PhonePe</strong></a> as a Site Reliability Engineer Intern for their ETC Team,  
      and <a class="underline-link" href="https://www.esri.com/en-us/home" target="_blank">Kohort</a>, as a Design Intern. 

    </p>

    <p>
      When I'm not in classes or working, I'm probably chilling with friends, singing, brushing up on my Korean,
      or crossing off another item on my bucket list. I was the lead vocalist in my band back in India.
       You can check out my covers on <a class="underline-link" href="https://www.instagram.com/roshinisanikop/" target="_blank">Instagram</a>!
    </p>

  </div>
</section>
