<header class="intro" style="overflow: auto;">

<!--   <img 
    src="/images/profile.png" 
    alt="Profile Image" 
    style="float: left; width: 150px; height: 150px; margin: 0 20px 20px 0; border-radius: 50%;"
  > -->

  <!-- Text Content -->
  <div>
    <h1 class="intro__hello">Hello, there! :)
      <span class="emoji wave-hand animated"></span>
    </h1>

    <h2 class="intro__tagline" style="font-weight: normal;">
      I'm <span class="name" style="font-weight: bold;">Roshini Sanikop.</span> I love learning new things related to
      <span style="font-weight: bold;">distributed systems</span>, 
      <span style="font-weight: bold;">security</span>, and 
      <span style="font-weight: bold;">artificial intelligence</span>, 
      and I’m driven to contribute back to these fields.
    </h2>
<!-- ======= -->

    <h3 class="intro__contact">
      <span>Wanna get in touch?</span> <br>
      <span>
        <a href="mailto:roshinisanikop12@gmail.com" target="_blank" class="highlight-link">
          <img src="images/gmail.png" alt="Email Icon" style="width: 30px; height: 30px; margin-right: 8px;"> <!-- Image icon -->
          roshinisanikop12@gmail.com
        </a>
      </span> <br>
      <a href="https://www.linkedin.com/in/roshini-sanikop/" target="_blank" class="highlight-link">
        <img src="images/linkedin.png" alt="LinkedIn Icon" style="width: 30px; height: 30px; margin-right: 8px;"> <!-- Image icon -->
        LinkedIn
      </a> <br>
      <a href="https://github.com/roshinisanikop" target="_blank" class="highlight-link">
        <img src="images/github.png" alt="GitHub" style="width: 30px; height: 30px; margin-right: 8px;"> <!-- Image icon -->
        GitHub
      </a> <br>
    </h3>
  </div>
</header>
